.test {
width: 75px; /* устанавливаем ширину блока */
height: 100px;  /* устанавливаем высоту блока */
border-radius: 50px;  /* определяем форму углов элемента */
position: relative;  /* элемент с относительным позиционированием (position:static - по умолчанию и, как следствие, значение свойства left не повлияли бы на позиционирование элемента) */
-webkit-animation: iliketomoveit 5s infinite;  /*  для поддержки ранних версий браузеров */
animation: iliketomoveit 5s infinite;  /* задаём имя анимации (соответствует имени назначенному в ключевых кадрах), продолжительность анимации и указываем, что анимация будет повторяться бесконечно  */
} 
@-webkit-keyframes iliketomoveit { /* для поддержки ранних версий браузеров */ 
        0%   {right: 0px;} /* задаем начало анимации */ 
        25%  {right: 400px; background: rgb(51, 0, 255);} /* сдвигаем элемент на 400px от левого края при этом устанавливаем цвет заднего фона */ 
        75%  {right: 200px;}  /* уменьшаем сдвиг от левого края */ 
        100% {right: 0px; background: green;} /* возвращаем элемент на первоначальную точку и изменяем цвет заднего фона */ 
        } 
@keyframes iliketomoveit {
        0%   {right: 0px;} 
        25%  {right: -200px; background: rgb(0, 255, 81);} 
        50%  {right: -400px;} 
        75% {right: -200px; background: rgb(255, 255, 0);} 
        85% {right: -400px;}
        100% {right: -200px; background: rgb(255, 0, 0);}
        }
